{% assign recipe = include.recipe %}
<div class="crafting-container">
  <div class="crafting-header">
    <h3 id="{{recipe.path}}" class="crafting-title">{{recipe.name}}</h3>
  </div>
  <div class="crafting-body">
    <div style="display: flex">
      <div style="min-width: 136px; max-width: 136px; position: relative; padding-left: 0px">
        <div id="image_wrapper" style="position: relative">
          <img src="/img/spell_frame.png" style="width: 120px; image-rendering: pixelated; position: relative; top:0px; left: 10px;">
          <img src="/img/item_background.png" style="width: 80px; image-rendering: pixelated; position: absolute; top: 35px; left: 30px;">
          <img src="{{recipe.path}}" style="width: 75px; image-rendering: pixelated; position: absolute; top: 38px; left: 31px;" title="{{recipe.name}}">
        </div>
      </div>
      <div style="padding: 5px; margin-top: 3px; text-align: left">
        {{recipe.description}}
      </div>
      {%assign padding = "4" %}
      {%assign size = "26" %}
      {%assign top = "15" %}
      {%assign left = "13" %}
      <div style="min-width: 220px; max-width:220px; position: relative; float: right; margin-top: 15px; margin-left: auto">
        <img id="crafting_table" src="/img/crafting_table.png" style="width: 420px; image-rendering: pixelated; position: relative; top:0; left: 0;">
        <img id="slot1" src="{{recipe.item0Path}}" style="width: {{size}}px; image-rendering: pixelated; position: absolute; top: {{top}}px; left: {{left}}px;" title="{{recipe.item0}}">
        <img id="slot2" src="{{recipe.item1Path}}" style="width: {{size}}px; image-rendering: pixelated; position: absolute; top: {{top}}px; left: {{left | plus:padding | plus:size}}px;" title="{{recipe.item1}}">
        <img id="slot3" src="{{recipe.item2Path}}" style="width: {{size}}px; image-rendering: pixelated; position: absolute; top: {{top}}px; left: {{left | plus:padding | plus:size | plus: padding | plus: size}}px;" title="{{recipe.item2}}">
        <img id="slot4" src="{{recipe.item3Path}}" style="width: {{size}}px; image-rendering: pixelated; position: absolute; top: {{top | plus:padding | plus:size}}px; left: {{left}}px;" title="{{recipe.item3}}">
        <img id="slot5" src="{{recipe.item4Path}}" style="width: {{size}}px; image-rendering: pixelated; position: absolute; top: {{top | plus:padding | plus:size}}px; left: {{left | plus:padding | plus:size}}px;" title="{{recipe.item4}}">
        <img id="slot6" src="{{recipe.item5Path}}" style="width: {{size}}px; image-rendering: pixelated; position: absolute; top: {{top | plus:padding | plus:size}}px; left: {{left | plus:padding | plus:size | plus: padding | plus: size}}px;" title="{{recipe.item5}}">
        <img id="slot7" src="{{recipe.item6Path}}" style="width: {{size}}px; image-rendering: pixelated; position: absolute; top: {{top | plus:padding | plus:size | plus: padding | plus: size}}px; left: {{left}}px;" title="{{recipe.item6}}">
        <img id="slot8" src="{{recipe.item7Path}}" style="width: {{size}}px; image-rendering: pixelated; position: absolute; top: {{top | plus:padding | plus:size | plus: padding | plus: size}}px; left: {{left | plus:padding | plus:size}}px;" title="{{recipe.item7}}">
        <img id="slot9" src="{{recipe.item8Path}}" style="width: {{size}}px; image-rendering: pixelated; position: absolute; top: {{top | plus:padding | plus:size | plus: padding | plus: size}}px; left: {{left | plus:padding | plus:size | plus: padding | plus: size}}px;" title="{{recipe.item8}}">
        <img id="output" src="{{recipe.path}}" style="width: 38px; image-rendering: pixelated; position: absolute; top: 38px; left: 165px;" title="{{recipe.name}}">
      </div>
    </div>
  </div>
</div>
